:root {
    --main-text-color: #757575;
    --secondary-text-color: #212121;
    --white-color: #FFFFFF;
    --blue-color: #2196F3;
    --black-color: #000000;
    --gray-button: #F5F4FA;
}
body {
    background-color: var(--white-color);
    color: var(--main-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    padding: 0 15px;
    width: 1200px;
    margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
img {
    max-width: 100%;
    display: block;
    height: auto;
}
/*Шапка*/
.header {
    border-bottom: 1px solid #ECECEC; 
    padding: 25px 0; 
}
.header-container {
   display: flex;
   align-items: center;   
}
.link-logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    font-family: Raleway, sans-serif;
    color: var(--blue-color);
    text-decoration: none;
    display: inline-block;
}
.logo-black {
    color: black;
}
.nav {
    margin-left: 93px;
}
.nav-list{
    display: flex;
    width: 294px;
    justify-content: space-between;
}
.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--secondary-text-color);
    letter-spacing: 0.02em;
    text-decoration: none;
}
.nav-link:hover,
.nav-link:focus {
    color: var(--blue-color);
}
.info-list{
    display: flex;
    margin-left: auto;
    width: 307px;
    justify-content: space-between;
}
.info-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--main-text-color);
    letter-spacing: 0.02em;
    text-decoration: none;
}
.info-link:hover,
.info-link:focus {
    color: var(--blue-color);
}
/*Секция Герой*/
.hero {
    background-color: #2F303A;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--white-color);
    text-transform: uppercase;
    margin: 0px auto 30px auto;
    width: 696px;
}
.button {
    color: var(--white-color);
    background-color: var(--blue-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    margin: 0px auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
    cursor: pointer;
}
/*Особености*/
.specifics {
    padding-top: 94px;
    padding-bottom: 94px;
}
.specifics-list {
    display: flex;
    justify-content: space-between;
}
.specifics-list li {
    width: 270px;
}
.specifics-title {  
    margin-bottom: 10px;    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    text-transform: uppercase;
}
.specifics-text {
    font-size: 14px;
    line-height: 1.71;
}
/*Чем мы занимаемся*/
.business {
   padding-bottom: 94px;
}
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--secondary-text-color);
    margin-bottom: 50px;
}
.business-list {
    display: flex;
    justify-content: space-between;
}
/*Наша команда*/
.team {
    padding: 94px 0;
    background-color: var(--gray-button);;
}
.team-list {
    display: flex;
    justify-content: space-between;
}
.team-list li {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}
.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--secondary-text-color);
    margin-top: 30px;
    margin-bottom: 10px;
}
.team-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 30px;
} 
/*Подвал*/
.footer {
    background-color: #2F303A;
    padding: 60px 15px;
    margin-left: auto;
    margin-right: auto;
}
.logo-white {
    color: white;
}
.address-footer {
    font-style: normal;
    margin-top: 20px;
}
.address-list {
    margin: 0px;
    padding: 0px;
}
.address-list .list-info+ .list-info {
    margin-top: 9px;
}
.address-maps {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    color: var(--white-color);
    
}
.footer-info {
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}


/*Портфолио css*/
.general-link {
    color: var(--blue-color);
}
.general-link:hover,
.general-link:focus {
    
}
.section-list {
    padding-top: 94px;
    padding-bottom: 94px;
}
.key-list {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.key-list .key-button+ .key-button {
    margin-left: 8px;
}
.key {
    color: var(--secondary-text-color);
    background-color: var(--gray-button);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
}
.key:hover,
.key:focus {
    color: var(--white-color);
    background-color: var(--blue-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.general-key {
    color: var(--white-color);
    background-color: var(--blue-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.navigation-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}
.list {
    border: 1px solid #EEEEEE;
    flex-basis: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;
}
.link-navigation {
   text-decoration: none; 
   display: block;
}
.list-text {
    padding: 20px 24px;
}
.text-title {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.indent-text {
    font-size: 16px;
    line-height: 1.87;
    color: var(--main-text-color);
}
